body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
  }
  
  .move-icon {
    transition: 1s;
    height: 50px;
  }
  
  .move-icon:hover {
    height: 60px;
    transition: 1s;
  }

  .move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    transition: 1s;
    cursor: pointer;
  }
  
  .move-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 3px solid rgb(250, 192, 54);
    width: 125px;
    height: 125px;
    border-radius: 62.5px;
    margin-right: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
  }
  
  .score {
    margin-top: 60px;
  }
  
  .reset-score-button,
  .auto-play-button {
    background-color: rgb(250, 192, 54);
    border: none;
    border-radius: 25px;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    transition: 1s;
  }
  
  .reset-score-button:hover,
  .auto-play-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(231, 162, 0);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    padding: 8px 15px;
    transition: 1s;
    cursor: pointer;
  }